body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.topnav{
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  font-size: 1.45rem;
  
}
.topnav>a{
  text-decoration: none;
}

dt{
  margin-top: 20px;
}

.form-grop{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
button{
  margin-top: 20px;
  padding: 12px;
}
